body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main {
    width: 500px;
    height: 400px;
    background: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 10px;
}

h2 {
    color: white; 
    font-size: 40px;
    text-align: center;
    
}

.buttons {
    display: flex;
    gap: 15px;
}

button {
    width: 80px;
    height: 35px;
    color: white;
}

.start {
    background: green;
}

.stop {
    background: red;
}

.reset {
    background: gray;
}

button:hover {
    opacity: 0.8;
}